.cursor{
    cursor: pointer !important;
    color: white !important;
}

.navbar{
    background-color: var(--cor-destaque);
    justify-content:space-around ;
}

.cursor:hover{
    color:black !important;
    transition: 1s !important;
}