.cursor{
    cursor: pointer !important;
    color: white !important;
}

.navbar{
    background-color: var(--cor-principal);
    justify-content:space-around ;
}

.item:hover{
    color: var(--cor-terciaria);
    transition: 1s;
}