.botaoDeletar{
    background-color: red;
}

.botaoAtualizar{
    background-color: var(--cor-destaque) !important;
}

.botaoAtualizar:hover{
    background-color: #ff9d00 !important;
}

.botaoDeletar:hover{
    background-color: rgb(196, 6, 6) !important;
}

.bordaCard{
    border: var(--cor-destaque) 1px solid !important;
    border-radius: 32px !important;
    padding: 1rem !important;
}

.tituloPostagen{
    color: var(--cor-destaque) !important;
    font-weight: bold !important;
    font-size: 2.7rem !important;
}

.textoPostagem{
    font-size: 1.7rem !important;
}


.Postagens{
    font-size: 2rem !important;
    font-weight: bold !important;
}

.temaLabel{
    color: black !important;
    margin-top: 1rem !important;
    font-size: 1.3rem !important;
    background-color: var(--cor-principal) !important;
    text-align: center !important;
}
